#articles-container{
	background-color: red;
	display: inline-block;
	position: relative;
}
#image-container {
	background-color: blue;
	display: inline-block;
	height: 400px;

}
#title-container {
	background-color: green;
	display: inline-block;
	position: absolute;
}
h1{
	top:0;
}

#content-container {
	background-color: yellow;
	display: inline-block;
	position: relative;
}