.wiki-article{
	background-color: grey;
	display: inline-block;
	position: relative;
	padding: 20px;
	border: 5px solid black;
	border-radius: 10px;
}
.wiki-image {
	

}
.wiki-title {
	display: inline-block;
	position: absolute;
	text-align: center;
	border-bottom: 2px solid black;
}
h1{
	display: inline-block;
}

img{
	display: inline-block;
	position: absolute;
	max-width: 400px;
	right: 0;
}
.wiki-content {
	background-color: yellow;
	display: inline-block;
	position: relative;
}
p{
	top: 0;
	display: inline-block;
}