.wiki-article{
	background-color: grey;
	display: inline-block;
	position: relative;
	padding: 20px;
	border: 5px solid black;
	border-radius: 10px;
}
.wiki-image {
	

}
.wiki-title {
	width: 100%;
	display: inline-block;
	position: relative;
	text-align: center;
	border-bottom: 2px solid black;
}
h1{
	display: inline-block;
}

.wiki-content {
	background-color: yellow;
	position: relative;
	float: left;
}
.wiki-image{
	position:relative;
	float: right;
	width: 400px;
	height: 400px;
}
img{
	display: inline-block;
	position: absolute;
	max-width: 100%;
	right: 0;
}
p{
	top: 0;
}