<div ng-controller = "mainController">
	  <div class = "jumbo-header">
                <h3> Wiki-Graph</h3>
	            <form class = "wikia-search-form" ng-submit = "findSpecific(wikiaSearch)">
			    	<input class = "input-field" type="text" ng-model = "wikiaSearch" placeholder = "Search Wikias!">
			    	<input class = "myButton" type = "submit">
			</form>
        </div>
   
      

	<div ng-show = '!ourWiki'>
		<div ng-controller = "graphController">
		  <div class= "victory-modal" ng-show = "victory">
     			<p> You Did it! You found {{targetItem}} in {{numClicks}} clicks! The computer did it in 4. </p>
     			<button class = "myButton" ng-click = "setVictoryToFalse()">Try Again?</button>
     	  </div>
     <div class = "game-modal" ng-show = "!victory">
		<p ng-show = "targetItem"> Can you find {{targetItem}}?</p>
		<p ng-show = "!targetItem">Enter a search term to start</p>
     </div>
			<form ng-submit = "startGraph(searchTerm)">
			    <input class = "input-field" type="text" ng-model = "searchTerm" placeholder = "SEARCH">
			    <input class = "myButton" type = "submit">
			 </form>
			<!-- Create a custom directive that can be pushed through each time! they'll have links and all that jazz. Or maybe just do that stuff. -->
			<div id = "standard-container" ng-show="!specific">
				<div class = 'chart' id="chart-container">
				</div>
				<div class ="wiki-article" id = "articles-container">
						
							<h1> Click a Link To Get It's Info!</h1>
							<h2> Double Click to See it's links!</h2>						
				</div>
			</div>
		</div>
	</div>
	<!-- I know this isn't very dry but I am cu=tting close to when this needs to be donw and I want this to be done! -->
	<div ng-show = 'ourWiki' >
		<div ng-controller = "specificWikiController">
			<form  ng-submit = "startGraph(searchTerm)">
			    <input class = "input-field"  type="text" ng-model = "searchTerm" placeholder = "SEARCH">
			    <input class = "myButton" type = "submit">
			 </form>
			 <div class= "victory-modal" ng-show = "specificVictory">
		     	<p> You Did it! You found {{specificTarget}} in {{specificClicks}} clicks! The computer did it in 4. </p>
		     	<button class = "myButton" ng-click = "setSpecificVictoryToFalse()">Try Again?</button>
		     </div>

		     <div class = "game-modal" ng-show = "!specificVictory">
				<p ng-show = "specificTarget"> Can you find {{specificTarget}}?</p>
				<p ng-show = "!specificTarget"> Enter a search term to get a target</p>
		     </div>
			<!-- Create a custom directive that can be pushed through each time! they'll have links and all that jazz. Or maybe just do that stuff. -->
			<div id = "standard-container" ng-show="!specific">
				<div class = 'chart' id="specific-chart-container">
				</div>
				<div class ="wiki-article" id = "specific-articles-container">
						<h1>Search for a Starting Node!</h1>
						<div class="wiki-title" id = "specific-title-container">
						</div>
						<div class = "wiki-content" id = "specific-content-container">
						</div>
				</div>
			</div>
		</div>
	</div>
</div>