<div ng-controller = "mainController">
	<form class = "wikia-search-form" ng-submit = "findSpecific(wikiaSearch)">
		    <input type="text" ng-model = "wikiaSearch" placeholder = "Search Wikias!">
		    <input class = "myButton" type = "submit">
	</form>
	<div ng-show = '!ourWiki'>
		<div ng-controller = "graphController">
			<form ng-submit = "startGraph(searchTerm)">
			    <input type="text" ng-model = "searchTerm" placeholder = "SEARCH">
			    <input class = "myButton" type = "submit">
			 </form>
			<!-- Create a custom directive that can be pushed through each time! they'll have links and all that jazz. Or maybe just do that stuff. -->
			<div id = "standard-container" ng-show="!specific">
				<div class = 'chart' id="chart-container">
				</div>
				<div class ="wiki-article" id = "articles-container">
						
						<div class="wiki-title" id = "title-container">
							<h1> Sample Title</h1>
						</div>
						<div class = "wiki-content" id = "content-container">
								<img src = "http://www.wildimagesphotography.com/images/0049-WO-Panda-Face.jpg">	
							<p> lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
						</div>
						
				</div>
			</div>
		</div>
	</div>
	<!-- I know this isn't very dry but I am cu=tting close to when this needs to be donw and I want this to be done! -->
	<div ng-show = 'ourWiki' >
		<div ng-controller = "specificWikiController">
			{{ourWiki}}
			<form  ng-submit = "startGraph(searchTerm)">
			    <input type="text" ng-model = "searchTerm" placeholder = "SEARCH">
			    <input class = "myButton" type = "submit">
			 </form>
			<!-- Create a custom directive that can be pushed through each time! they'll have links and all that jazz. Or maybe just do that stuff. -->
			<div id = "standard-container" ng-show="!specific">
				<div class = 'chart' id="specific-chart-container">
				</div>
				<div class ="wiki-article" id = "specific-articles-container">
						<h1>Search for a Starting Node!</h1>
						<div class="wiki-title" id = "specific-title-container">
						</div>
						<div class = "wiki-content" id = "specific-content-container">
						</div>
				</div>
			</div>
		</div>
	</div>
</div>